* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #19151A;
}

.main {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 25vh;
}

.circle {
  display: flex;
  margin: 1rem;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aqua;
  border: 1px solid #61516b;
  transition: 1s all ease;
}

.circle::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 17.5px;
  top: -16px;
  display: block;
  background: #443549;
  border-radius: 2px;
  display: inline-block;
  border-bottom: 2px solid #61516b;
}

.circle::after {
  position: absolute;
  content: '';
  top: -20px;
  left: 30px;
  width: 70px;
  height: 18.6666px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.circle:last-child::after {
  content: '';
  position: absolute;
  border: none;
}

.red {
  background-color: #B80718;
  animation: glow-1 1s infinite;
}

.yellow {
  background-color: #F8E30D;
  animation: glow-2 1s infinite;
  animation-delay: 1.5s;
}

.blue {
  background-color: #5D57CF;
  animation: glow-3 1s infinite;
}

.green {
  background-color: #2ECC71;
  animation: glow-4 1s infinite;
  animation-delay: 1.5s;
}

@keyframes glow-1 {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 20px 5px #ff8592;
  }
}

@keyframes glow-2 {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 20px 5px #fff89a;
  }
}

@keyframes glow-3 {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 20px 5px #8698ff;
  }
}

@keyframes glow-4 {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 20px 5px #9ef58d;
  }
}